<!DOCTYPE html>
<html>
  <head>
    <title>Sutube</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous">
    </script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <a href="/" class="navbar-brand">
        <%= fa_icon "youtube-play", class: "text-danger mr-1" %>
        Suntube
      </a>
      <%= form_tag videos_path, method: :get, class: "form-inline" do %>
        <%= text_field_tag :q, params[:q], class: "form-control mr-2" %>
        <%= submit_tag "検索", class: "btn btn-danger" %>
      <% end %>
      <div>
        <% if current_user %>
          <%= link_to "アップロード", new_video_path, class: "btn btn-danger" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-danger" %>
          <%= link_to "会員登録", new_user_registration_path, class: "btn btn-outline-danger" %>
        <% end %>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
